:80 {
  @tirmudam host tirmudam.org
  handle @tirmudam {
    encode gzip zstd

    handle /donations* {
      reverse_proxy api:8000
    }

    root * /usr/share/caddy
    file_server
  }

  respond "not found" 404
}
